<div class="profile-container">
  <div class="col-md-8 mt-lg-3 px-sm-0 offset-lg-2 ">
    <%= render 'info', user: @user %>
  </div>
<div class='row'>
<% @plan.each do |plan| %>
<div class="card w-50 mx-auto mt-5 shadow-lg col-3">
   <div class="card-body">

  <p><%= link_to plan_path(plan.id) do %><%= plan.title %></p> <% end %>
  <p><%= plan.content %></p>
</div>
</div>
<% end %>
</div>
</div>
<!--</div>-->
