<div class="profile-container px-2">
  <div class="col-lg-8 mt-3  offset-lg-2 ">
    <%= render 'info', user: @user %>
    <hr></hr>
  </div>

  <div class="plan-container ">

<div class="plan-list col-lg-8 offset-lg-2 ">
  <div class="row">
    <div class="d-flex flex-wrap">
  <% @plan.each do |plan| %>
<div class="card  shadow-lg  mr-2 mb-2" style="width: 18rem;">
   <div class="card-body">

  <p><%= link_to plan_path(plan.id), data: {"turbolinks" => false} do %><%= plan.title %></p> <% end %>
  <p><%= plan.content %></p>
</div>
</div>
<% end %>
</div>
</div>
</div>
</div>
</div>


<div id="calendar"></div><br>







